.dark {
    --background: oklch(0.146 0 0);
    --foreground: oklch(0.925 0.004 67.769);
    --card: oklch(0.182 0 0);
    --card-foreground: oklch(0.925 0.004 67.769);
    --popover: oklch(0.182 0 0);
    --popover-foreground: oklch(0.925 0.004 67.769);
    --primary: oklch(0.706 0.186 48.129);
    --primary-foreground: oklch(0.116 0 0);
    --secondary: oklch(0.227 0 0);
    --secondary-foreground: oklch(0.728 0.013 67.62);
    --muted: oklch(0.204 0 0);
    --muted-foreground: oklch(0.564 0.013 58.027);
    --accent: oklch(0.706 0.186 48.129);
    --accent-foreground: oklch(0.116 0 0);
    --destructive: oklch(0.55 0.2 25);
    --destructive-foreground: oklch(0.95 0 0);
    --border: oklch(0.248 0 0);
    --input: oklch(0.248 0 0);
    --ring: oklch(0.706 0.186 48.129);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.5rem;
    --sidebar: oklch(0.158 0 0);
    --sidebar-foreground: oklch(0.728 0.013 67.62);
    --sidebar-primary: oklch(0.706 0.186 48.129);
    --sidebar-primary-foreground: oklch(0.116 0 0);
    --sidebar-accent: oklch(0.216 0.001 -0.002);
    --sidebar-accent-foreground: oklch(0.925 0.004 67.769);
    --sidebar-border: oklch(0.238 0 0);
    --sidebar-ring: oklch(0.706 0.186 48.129);
}
